{# app/Resources/views/app/postDelete.html.twig #}
{% extends 'app/layout.html.twig' %}

{% block title %}
  Supprimer un post - {{ parent() }}
{% endblock %}


{% block bodySite %}
  <h1>Supprimer un post</h1>
  <p>
    Etes-vous certain de vouloir supprimer le post "{{ post.title }}" ?
  </p>

  {# On met l'id du post dans la route de l'action du formulaire #}
  <form action="{{ path('delete_post', {'slug': post.slug}) }}" method="post">
    <a href="{{ path('show_post', {'slug': post.slug}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au post
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>
{% endblock %}